.hero {
    display: flex;
    flex-flow: column;
    align-content: center;
    width: 100%;
    padding: 5px;
    font-family: $f-h;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    color: $f-her;
    font-size: 0.5 * $f-h1;
    text-align: center;
    overflow-y: visible;
}

.sticky-hero {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -30px;
}

.hero h3 {
    position: relative;
    font-family: $f-h;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    font-size: 3 * $f-h1;
    margin: 0;
}

.hero p {
    font-weight: 200;
    z-index: 1000
}

.hero .heroP {
    color: $f-sel;
    background-color: $bg-nv;
    border-width: 10px;
    border-color: $bg-nv;
    border-radius: 6px;
    border-style: solid;
    font-weight: 200;
}


@media only screen and (max-width: 500px) {
    .hero h3 {
        font-size: 1 * $f-h1;
        line-height: 3em;
        margin: 0;

    }
}

@media only screen and (max-width: 800px) and (min-width: 501px) {
    .hero h3 {
        font-size: 2 * $f-h1;
        line-height: 1.6em;
        margin: 0;

    }
}
