.wrapped-image {
    width: 250px;
    height: 500px;
    text-align: center;
    padding: 15px 10px 5px;
    margin: 0.5%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: rgba(135, 137, 143, 0.4);
    
}

.wrapped-image img {
    width: 210px;
    height: 210px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(14, 51, 74, 0.3);
}

.wrapped-image h3 {
    margin-top: 0px;
    //border-style: dashed;
    //border-width: 1px;
}

.wrapped-image p {
    font-size: $f-sz;
    font-weight: 200;
    text-align: justify;
}

@media only screen and (max-width: 669px) {
    .wrapped-image {
        width: 100% !important;
        height: 300% !important;
    }
}

@media only screen and (max-width: 800px) {
    .wrapped-image {
        display: flex;
        width: 45%;
        height: 350px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }
    .wrapped-image img {
        width: 120px;
        height: 120px;
        order: 2
    }
    .wrapped-image p {
        order: 3
    }
    .wrapped-image h3 {
        order: 1
    }
}

@media only screen and (min-width: 801px) {
    .wrapped-image {
        display: block;
        
    }
    .wrapped-image img {
        width: 210px;
        height: 210px;
    }
}