@font-face {
    font-family: 'GaramondProItalic';
    src: url('../media/fonts/AdobeGaramondProItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica Neue';
    src: url('../media/fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

$bg-cl: #3a596c;
$bg-wh: white;
$bg-ft: #98c7a2;
$cl-ft: black;
$f-sel: #FAEBD7;
$f-her: #FAEBD7;

$f-h: "Helvetica Neue";
$f-a: "Arial";
$f-g: "GaramondProItalic";

//header
$h-sz-h: 70px;
$h-wd-li: 110px;
$f-sz-head-nav: 25px;

//font standard
$f-sz: 15px;
$f-h3: 20px;
$f-h2: 35px;
$f-h1: 45px;

@import './one-shots.scss';
@import './grid.scss';
@import './content.scss';
@import './styles.scss';
@import './themes/wrapped-image.scss';
@import './themes/article.scss';
@import './themes/hero.scss';
@import './themes/gallery.scss';
@import './themes/card.scss';
@import './themes/heroLogo.scss';
@import './nav.scss';
@import './animate.scss';



