.hero {
    border-style: dotted;
    border-width: 1px;
}

.hero-a {
    font-family: $f-g; 
    font-size: $f-wg-hero-h1
}

.hero-b {
    font-weight: $f-wg-hero-hx;
    font-family: $f-h; 
    font-size: $f-wg-hero-h1
}