$f-sz-hero-hx: 300%;
$f-sz-hero-h1: 300px;
$ln-h-hero-b: 0vh;
$pd-l-hero-b: 0;
$mg-l-hero-b: 0 0 10px 13vh;

$f-wg-hero-h1: 300;
$f-wg-hero-hx: 100;

.hero {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: 85vh;
    margin: 0 ;
    text-align: center;
    overflow: hidden;
    padding: 10vh 0 0vh 0;
        //dev-edit
        border-style: dashed;
        border-width: 2px;
        //
    -webkit-transition:  padding-top 1s ease-in; /* Safari prior 6.1 */
    transition: padding-top 1s ease-in-out; 
    
    
}

.hero-a {
    float: none;
    padding: 0 0 0 0.3ex;
    position: relative;
    right: 1ex;
    margin: 0 25% 0 25%;
    max-height: 3ex;
    text-align: center;
    font-family: $f-g; 
    font-size: $f-sz-hero-hx;
    -webkit-transition:  font-size 0.6s ease-out; /* Safari prior 6.1 */
    transition: font-size 0.6s ease-out; 
         //dev-edit
         //border-style: dashed;
         //border-width: 2px;
         //
}

.hero-b {
    display: block;
    float: none;
    position: relative;
    top: -1.1ex;
    left: 1ex;
    padding: 0 0 0 0;
    max-height: 3ex;
    margin: 0 25vw 0 25vw;
    text-align: center;
    font-weight: $f-wg-hero-hx;
    font-family: $f-h; 
    font-size: $f-sz-hero-hx;
    -webkit-transition:  font-size 0.6s ease-out; /* Safari prior 6.1 */
    transition: font-size 0.6s ease-out; 
         //dev-edit
         //border-style: dashed;
         //border-width: 2px;
         //
}

////////////
// HEIGHT //
////////////

@media only screen and (max-height: 300px) {
    .hero {
        padding-top: 1vh;
    }
}

@media only screen and (min-height: 301px) and (max-height: 500px) {
    .hero {
        padding-top: 4vh;
    }
}

@media only screen and (min-height: 501px) and (max-height: 800px) {
    .hero {
        padding-top: 10vh;
    }
}

@media only screen and (min-height: 801px) {
    .hero {
        padding-top: 15vh;
    }
}


////////////
// w+h 1  //
////////////

@media only screen and (max-width: 600px) {
    .hero-a {
        font-size: $f-sz-hero-hx;
    }
    .hero-b {
        font-size: $f-sz-hero-hx;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .hero-a {
        font-size: $f-sz-hero-hx + 700%;
    }
    .hero-b {
        font-size: $f-sz-hero-hx + 700%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1600px) {
    .hero-a {
        font-size: $f-sz-hero-hx + 1300%;
    }
    .hero-b {
        font-size: $f-sz-hero-hx + 1300%;
    }
}

@media only screen and (min-width: 1601px) {
    .hero-a {
        font-size: $f-sz-hero-hx + 2000%;
    }
    .hero-b {
        font-size: $f-sz-hero-hx + 2000%;
    }
}

