.nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: $h-sz-h;
    list-style-type: none;
    font-family: $f-h;
    font-size: $f-sz-head-nav;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    z-index: 3;
}

.nav.bgi {
    background-color: $bg-nv;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    z-index: 30;
}

.nav li {
    text-align: center;
    color: rgb(75, 22, 89);
    margin: 10px 0 13px;
    text-decoration: none;
    z-index: 1;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all             */
        -ms-user-select: none;
        /* IE 10+                  */
    user-select: none;
    transition: transform 0.3s;
    border-radius: 10px;
    z-index: 30;
}

.nav li.nothingSelected {
    color: rgb(45, 42, 39);
}

.nav li:hover {
    transform: scale(1.2)
}

.menu-toggler {
    position: absolute;
    margin: 0 52% 0 46%;
    padding-top: 15px;
    font-size: 35px;
    transition: font-size 0.4s, padding-top 0.4s;
}

.menu-toggler:hover {
    cursor: pointer;
}

.nav li:hover {
    cursor: pointer;
}

.nav img {
    height: $h-sz-h;
    margin: 0px;
    padding: 8px 15px;
    filter: drop-shadow(2px 2px 1px #9a9ab8);
}

.nav .account {
    margin: 19px 35px 0 0;
}

.nav a {
    color: inherit;
}

.nav li.selected {
    color: $f-sel !important;
}

@media only screen and (min-width: 670px) {
    .menu-toggler {
        display: none;
    }
}

@media only screen and (max-width: 669px) {
    .nav ul {
        position: absolute;
        padding: 40px 0;
        width: 50%;
        top: 30px;
        margin: 0 25%;
        display: none;
    }

    .nav li {
        color: rgb(32, 15, 65);
        position: relative;
        display: none;
        z-index: 20;
        background-color: $bg-cl;
    }
}

@media only screen and (max-width: 800px) {
    .nav li {
        padding: 10px 10px 6px;
    }
}

@media only screen and (min-width: 801px) {
    .nav li {
        padding: 10px 30px 6px;
    }
}
