.nav {
    margin: 0px;
    padding: 0px;
    height: $h-sz-h;
    list-style-type: none;
    text-align: center;
    font-family: $f-h; 
    font-size: $f-sz-head-nav; 
    font-style: normal; 
    font-weight: 100;
    font-variant:  normal;
    z-index: 20;
}

.nav ul {
    margin: 0;
    padding: 0px; 
}

.nav li {
    text-align: center;
    display: inline-block;
    margin: 3px 0 13px;
    line-height: 50px;
    text-decoration: none;
    z-index: 20;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none;    /* Firefox all             */
    -ms-user-select: none;     /* IE 10+                  */
     user-select: none;  
}


.menu-toggler {
    padding-top: 15px;
    font-size: 35px; 
    transition: font-size 0.4s, padding-top 0.4s;
}

.menu-toggler:hover { 
    cursor: pointer; 
}

.nav li:hover { 
    cursor: pointer; 
}

.nav img {
    height: $h-sz-h;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 8px 15px;
}

.nav.account {
    position: absolute;
    right: 0;
    top: 0;
    font-size: $f-h3;
    margin: 0px;
    padding: 00px 10px;
    line-height: 73px;
}

.nav.dropdown li {
    display: none;
}

.nav a { color: inherit; } 

@media only screen and (min-width: 670px) {
    .menu-toggler {
        display: none;
    }
}

@media only screen and (max-width: 669px) {
    .nav ul  {
        padding: 40px 0;
        top: 30px;
        margin: 0 25%;
    }
    .nav li {
        position: relative;
        display: none;
        z-index: 20;
        background-color: $bg-cl;
        }
}

@media only screen and (max-width: 800px) {
    .nav li {
        padding: 10px 10px 6px;
    }
}

@media only screen and (max-width: 800px) {
    .nav li {
        padding: 10px 10px 6px;
    }
}

@media only screen and (min-width: 801px) {
    .nav li {
        padding: 10px 30px 6px;
    }
}
