body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, $bg-cl, $bg-wh);
    font-family: $f-a; 
    font-size: $f-sz; 
    font-style: normal; 
    font-variant: normal; 
    overflow: hidden;
} 

.of-h {
    overflow: hidden;
}

.footer {
    height: 20px;
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: $bg-ft
}

.text-center {
    text-align: centre;
}

.show {
    display: block !important;
}

h3 {
   font-size: $f-h3
}
